{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "rules": {
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": "off",
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true,
        "variables": false
      }
    ],
    "no-param-reassign": "off",
    "no-console": "off"
  },
  "env": {
    "browser": true
  }
}
